body{
  height: 1000px;
}
.container{
  height: 750px;
  align-content: center;
}

.selection-row{
  top: 5%;
  position: relative;
}

/* Logging */
.logviewer ul {
  transform: rotate(180deg);
}
ul > .each_log {
  transform: rotate(-180deg);
}

.logviewer{
  height:20em;
  width:100%;
  border:1px solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
  position: relative;
  top:10%;
  box-shadow: 0 4px 6px -3px rgb(51,119,201);
}

/* Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 50%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 14px;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

/*Filter*/

.filter img{
  width: 40px;
  height:40px;
}
/*Highlight*/
.highlight img{
  width: 40px;
  height:40px;
}
/*Logout Button*/
.logout-button{
  position: absolute;
  bottom: 20%;
  right: 14%;
  color: white;
}

.logout-btn:hover{
  color: black;
  background-color: #e3f2fd;
}